/* line 13, ../sass/media.scss */
html body {
  font-size: 125%;
}
@media (min-width: 36em) {
  /* line 13, ../sass/media.scss */
  html body {
    font-size: 160%;
  }
}
@media (min-width: 75em) {
  /* line 13, ../sass/media.scss */
  html body {
    font-size: 200%;
  }
}

/* line 24, ../sass/media.scss */
.topSection {
  display: table;
  padding: 1em 0 1em 0;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
  width: 100%;
}
/* line 33, ../sass/media.scss */
.topSection .topSection-inner {
  margin: 0 auto;
  width: 97%;
}
/* line 38, ../sass/media.scss */
.topSection input.searchText {
  width: 85%;
  height: 32px;
  font-size: 1.2em;
  margin: 0;
  padding: 0 2%;
  float: right;
  border: 1px solid #999;
}
@media (min-width: 75em) {
  /* line 38, ../sass/media.scss */
  .topSection input.searchText {
    width: 71%;
    margin: 0 0 0 2%;
    float: none;
  }
}
/* line 53, ../sass/media.scss */
.topSection .button-controls {
  float: left;
  cursor: pointer;
  background-image: url("images/gear-32.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 8%;
  height: 34px;
}
/* line 62, ../sass/media.scss */
.topSection .button-controls span.text {
  display: none;
}
@media (min-width: 75em) {
  /* line 53, ../sass/media.scss */
  .topSection .button-controls {
    float: none;
    background-image: url("images/gear-48.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 46px;
    width: auto;
    height: auto;
  }
  /* line 74, ../sass/media.scss */
  .topSection .button-controls span.text {
    display: inline;
  }
}
/* line 79, ../sass/media.scss */
.topSection .button-clear {
  font-family: sans-serif;
  position: absolute;
  cursor: pointer;
  right: 4%;
  line-height: 32px;
  color: #999;
}
@media (min-width: 75em) {
  /* line 79, ../sass/media.scss */
  .topSection .button-clear {
    line-height: 48px;
  }
}
/* line 90, ../sass/media.scss */
.topSection .button-clear:hover {
  color: red;
}

/* line 100, ../sass/media.scss */
.attendees .attendee .attendee-username {
  white-space: nowrap;
}
@media (min-width: 75em) {
  /* line 100, ../sass/media.scss */
  .attendees .attendee .attendee-username {
    white-space: normal;
  }
}
/* line 107, ../sass/media.scss */
.attendees .attendee .attendee-name {
  width: 60%;
  max-width: 60%;
  display: table-cell;
  padding: 0 2% 0 1%;
  vertical-align: middle;
}
@media (min-width: 36em) {
  /* line 107, ../sass/media.scss */
  .attendees .attendee .attendee-name {
    width: 66%;
  }
}
@media (min-width: 75em) {
  /* line 107, ../sass/media.scss */
  .attendees .attendee .attendee-name {
    width: 75%;
  }
}
/* line 120, ../sass/media.scss */
.attendees .attendee .attendee-button {
  width: 40%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2% 0 0;
}
@media (min-width: 36em) {
  /* line 120, ../sass/media.scss */
  .attendees .attendee .attendee-button {
    width: 34%;
  }
}
@media (min-width: 36em) {
  /* line 120, ../sass/media.scss */
  .attendees .attendee .attendee-button {
    width: 25%;
  }
}
/* line 132, ../sass/media.scss */
.attendees .attendee .attendee-button input {
  height: 2em;
  width: 100%;
  font-size: 90%;
  cursor: pointer;
}

/* line 143, ../sass/media.scss */
.bottom {
  font-size: 0.5em;
  margin-top: 1em;
  color: #666;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  border-top: 2px solid #DDD;
  padding: 0.5em 0;
}
@media (min-width: 75em) {
  /* line 143, ../sass/media.scss */
  .bottom {
    font-size: 1em;
  }
}
/* line 157, ../sass/media.scss */
.bottom .checkinName {
  color: brown;
}
/* line 161, ../sass/media.scss */
.bottom .checkin1 {
  display: block;
}
@media (min-width: 36em) {
  /* line 161, ../sass/media.scss */
  .bottom .checkin1 {
    display: inline;
  }
  /* line 165, ../sass/media.scss */
  .bottom .checkin1:after {
    content: ' / ';
  }
}
@media (min-width: 36em) {
  /* line 172, ../sass/media.scss */
  .bottom .checkin2:after {
    content: ' / ';
  }
}

/* line 180, ../sass/media.scss */
.error, .controls-form {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: 5%;
  width: 100%;
  z-index: 75;
}
@media (min-width: 75em) {
  /* line 180, ../sass/media.scss */
  .error, .controls-form {
    top: 25%;
  }
}

/* line 193, ../sass/media.scss */
.controls-form {
  z-index: 100;
  height: 92%;
}
/* line 197, ../sass/media.scss */
.controls-form .controls-form-inner {
  position: relative;
  background-color: white;
  border: 1px solid #bd851e;
  box-shadow: 0px 4px 8px rgba(189, 133, 30, 0.2);
  padding: 2.5%;
  box-sizing: border-box;
  z-index: 20;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  height: 95%;
}
@media (min-width: 75em) {
  /* line 197, ../sass/media.scss */
  .controls-form .controls-form-inner {
    height: auto;
  }
}
/* line 214, ../sass/media.scss */
.controls-form ul {
  padding: 0 0 1em;
}
/* line 217, ../sass/media.scss */
.controls-form ul li {
  float: left;
  margin-right: 2%;
  padding: 0.5% 1%;
  background-color: #EEE;
  border: 1px solid #CCC;
  cursor: pointer;
}
/* line 226, ../sass/media.scss */
.controls-form .controls-form * {
  box-sizing: border-box;
}
/* line 229, ../sass/media.scss */
.controls-form .controls-form input,
.controls-form .controls-form button {
  font-size: 1.1em;
  clear: both;
  display: block;
}
/* line 235, ../sass/media.scss */
.controls-form .controls-form form {
  clear: both;
  margin: 0.5em 0 0;
}
/* line 240, ../sass/media.scss */
.controls-form .button-closeControls {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  color: white;
  background: red;
  padding: 0.25em 0.5em;
  display: inline;
  float: right;
}
/* line 253, ../sass/media.scss */
.controls-form form {
  margin-top: 2%;
  clear: both;
}
/* line 257, ../sass/media.scss */
.controls-form form input {
  font-size: 100%;
}
/* line 261, ../sass/media.scss */
.controls-form form .add-left {
  width: 70%;
  float: left;
  text-align: left;
}
/* line 266, ../sass/media.scss */
.controls-form form .add-left input {
  width: 85%;
  float: left;
  clear: none;
  margin-right: 1em;
}
/* line 274, ../sass/media.scss */
.controls-form form .add-right {
  width: 19%;
  float: left;
  text-align: left;
}
/* line 279, ../sass/media.scss */
.controls-form form .add-right input {
  width: 100%;
}
/* line 284, ../sass/media.scss */
.controls-form form .add-submit {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  font-size: 1.25em;
}
